*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', arial;
}


/* Header */

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 1% 2% 1% 2%;
}

.header-link-group{
    display:flex;
    gap:10px;
    list-style: none;
    margin-left: auto;
}

.header-text, .header-link , .hero-main-text, .hero-button{
    color: #F9FAF8;
}

.header-text{
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.header-link{
    font-size: 18px;
}


/* Hero Section */

.hero{
    height: 480px;
    width: 100%;
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 0% 8% 0% 8%;
    gap:2%;
}

.hero-text{
    width:50%;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.hero-image-div{
    width:50%;
}

.hero-image{
    width: 100%;
    height: auto;
} 

.hero-main-text{
    font-size: 44px;
    font-weight: 800;
}

.hero-sub-text{
    font-size: 18px;
    color: #EFE7EB;
}

.hero-button{
    font-size: 15px;
    width: 70px;
    height: 25px;
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
}


/* Information Section */

.information-section{
    padding-top: 20px;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:30px;
}

.information-text{ 
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.information-images{
    display:flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.information-box{
    width:150px;
    height:150px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #3882F6;
}

.information-text-box{
    max-width: 150px;
    padding: 5px 5px 50px 5px;
}


/* Quotation Section */

.quotation-section{
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5% 10% 5% 10%;
    gap:20px;
}

.quote{
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
}

.quote-person{
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}


/* Call to Action Section */

.call-to-action{
    margin: 3% 8% 3% 8%;
    padding: 15px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.call-to-action-text{
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 0px 30px 0px;
    color: #fff;
}

.call-to-action-sub-text{
    opacity: 0.7;
}

.sign-up{
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
}


/* Footer Section */

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 1.2% 0.5% 1.2% 0.5%;   
}

.footer-text{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}